# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# jetbrains
.idea/
.DS_Store

# vscode
.vscode

# logs
*.log
test-*.xml

# Unit test / coverage reports
.coverage
.tox
.coverage.*
coverage.xml
cov.xml
htmlcov
.pytest_cache/

# mypy
.mypy_cache/
