# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints
*.ipynb

# Scratchpad
test.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# jetbrains
.idea/
.DS_Store

# vscode
.vscode

# logs
*.log