[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "~=3.7.8"
flake8-annotations = {path = ".",editable = true}

[dev-packages]
flake8-bugbear = "~=19.8"
flake8-docstrings = "~=1.4"
flake8-formatter-junit-xml = "~=0.0"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=2.0"
flake8-todo = "~=0.7"
pre-commit = "~=1.18"
pytest = "~=5.1"
pytest-check = "~=0.3"
pytest-cov = "~=2.7"

[scripts]
lint = "flake8"
check_metadata = "python setup.py --quiet check --metadata --strict"
precommit = "pre-commit install"
test = "pytest"
coverage = "pytest --cov=flake8_annotations testing/ --cov-branch --cov-report term-missing"
