[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "~=3.7.9"
typed-ast = {version = "~=1.4", markers="python_version < '3.8'"}

[dev-packages]
flake8-annotations = {path = ".",editable = true}
flake8-bugbear = "~=19.8"
flake8-docstrings = "~=1.5"
flake8-formatter-junit-xml = "~=0.0"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=2.0"
flake8-todo = "~=0.7"
pipenv-setup = "~=2.1"
pre-commit = "~=1.20"
pytest = "~=5.2"
pytest-check = "~=0.3"
pytest-cov = "~=2.8"
tox = "~=3.14"

[scripts]
lint = "flake8"
check_metadata = "python setup.py --quiet check --metadata --strict"
precommit = "pre-commit install"
test = "tox"
coverage = "pytest --cov=flake8_annotations testing/ --cov-branch --cov-report term-missing"
